<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690411064890-d9ieh95fpe3ko8o2vbm71q9jmibsp3t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690411064890-d9ieh95fpe3ko8o2vbm71q9jmibsp3t9</string>
	<key>API_KEY</key>
	<string>AIzaSyD8AE2Z36h-oXAz-lF1jI7Nf7U1dgTi9cM</string>
	<key>GCM_SENDER_ID</key>
	<string>690411064890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LeaveMark</string>
	<key>PROJECT_ID</key>
	<string>leave-a-mark</string>
	<key>STORAGE_BUCKET</key>
	<string>leave-a-mark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690411064890:ios:702e308b396d0b1c94ef03</string>
	<key>DATABASE_URL</key>
	<string>https://leave-a-mark.firebaseio.com</string>
</dict>
</plist>